{include file="index/header" title="xianga"  active="home" /}
<main class="container">
	<div class="item">
		<strong>{$title}</strong>
		<p>{$addtime}<small><strong> 标签：</strong><mark>{$sort}</mark>  <mark>js</mark>  <mark>数据库</mark></small></p>
		<div class="text">
			{$content}ddadsfdasfadsfd阿萨打发斯蒂芬大三发顺丰父大大发法法发到付
		</div>
	</div>
	<hr>
	<div class="other">
		<small>上一篇：</small><em>萨达所大龟甲师</em><br>
		<small>下一篇：</small><em>萨达所大龟甲师</em><br>
		<hr>
		<h3>添加评论</h3>
		{include file="index/messlayout" listName="评论列表"/}
	</div>
</main>
{include file="index/footer"}
<script type="text/javascript" src="/blog/public/static/editor/third-party/SyntaxHighlighter/shCore.js"></script>
<script>SyntaxHighlighter.highlight();</script>
<script src="{$Think.config.web_root}js/message.js"></script>
</body>
</html>