<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>生活</title>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="shortcut icon" href="/blog/public/favicon.png">
<link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" rel="stylesheet">
<style>
   *{margin:0;padding:0;}
	header{
		text-align: center;		
	}
	ul li{
		list-style-type: none;
	}
	main{
		min-height: 1000em;
		margin-top: 2em;
	}
	.navbar-nav .nav-item+.nav-item {
    	margin-left: 1.4rem;
	}
	.navbar-nav {margin-left: 4em;}
	a:hover{
		text-decoration: none;
		color: #f00;
	}
	.list{
		border:1px solid #eee;
		padding:0.5em;
		margin-bottom: 1em;
	}
	.list p{
		margin:0.4em;
	}
	.text{text-indent: 2em;margin-top: 0em;}
	.replay{
		padding:0.5em;
		margin-left:3em;
		background: #eee;
	}
	.comment ,.quxiao{
		color:#00f;
		text-align: right;
	}
	.comment:hover ,.quxiao:hover{
		color: #f00;
		cursor: pointer;
	}
	#recom{display: none;}
</style>
</head>

<body class="container-fluid">
<header>
	<p><h2>媛界码萌倩汉子</h2></p>
	<p><em>——成长之路</em></p>
</header>
<nav class="navbar navbar-light bg-faded">
	<div>
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      	<li class="nav-item">
	        	<a class="nav-link" href="#">技术</a>
	      	</li>
	      	<li class="nav-item ">
	        	<a class="nav-link" href="#">生活</a>
	      	</li>
	      	<li class="nav-item active">
	        	<a class="nav-link" href="#">留言</a>
	      	</li>
	    </ul>
	    <div style="float:right;">
		    <form class="form-inline my-2 my-lg-0">
			    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" />
			    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
	    </div>
	</div>
</nav>
<main class="container">
	<form>
		<div class="form-group">
			<label for="name">称呼(必填)：</label>
			<input type="text" placeholder="请输入用户名" id="name" name="name" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="email">邮箱(不会被公开)：</label>
			<input type="text" placeholder="如果不介意留下您的联系方式吧" id="email" name="email" class="form-control"/>
		</div>
		<div>
			<label for="content">内容(必填)：</label>
			<textarea name="content" id="content" class="form-control" rows="5" placeholder="输入你相对我说的话吧"></textarea>
		</div>
		<br>
		<button id="mess" class="btn btn-outline-info btn-block" >留言</button>
		
	</form>
	<hr>
	<h3>留言列表</h3>
	<div class="list">
		<strong>这是一篇巴拉巴拉巴拉的博客</strong>
		<p>2017-06-12 13:37:23</p>
		<div class="text">
			在这个世界中，有一群名叫前端开发的人，他们在这里一起或把酒言欢，或指点江山，或塑造光环，受人膜拜。还有一群名为前端开发的人或分门别派，或吵架不断，或推波助澜，好生精彩。还有一群名为前端开发的人
		</div>
		<p class="comment">回复</p>
		<div class="replay">
			<strong>这是一篇巴拉巴拉巴拉的博客</strong>
			<p>2017-06-12 13:37:23</p>
			<div class="text">
				在这个世界中，有一群名叫前端开发的人，他们在这里一起或把酒言欢，或指点江山，或塑造光环，受人膜拜。还有一群名为前端开发的人或分门别派，或吵架不断，或推波助澜，好生精彩。还有一群名为前端开发的人
			</div>
			<p class="comment">回复</p>
		</div>
	</div>
	<div class="list">
		<strong>这是一篇巴拉巴拉巴拉的博客</strong>
		<p>2017-06-12 13:37:23</p>
		<div class="text">
			在这个世界中，有一群名叫前端开发的人，他们在这里一起或把酒言欢，或指点江山，或塑造光环，受人膜拜。还有一群名为前端开发的人或分门别派，或吵架不断，或推波助澜，好生精彩。还有一群名为前端开发的人
		</div>
		<p class="comment">回复</p>
		<div id="recom">
			<hr>
			<form name="comment">
				<div class="form-group">
					<label for="name1">称呼(必填)：</label>
					<input type="text" placeholder="请输入用户名" id="name1" name="name1" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="email1">邮箱(不会被公开)：</label>
					<input type="text" placeholder="如果不介意留下您的联系方式吧" id="email1" name="email1" class="form-control"/>
				</div>
				<div>
					<label for="content1">内容(必填)：</label>
					<textarea name="content1" id="content1" class="form-control" rows="5" placeholder="输入你相对我说的话吧"></textarea>
				</div>
				<br>
				<button type="submit" class="btn btn-outline-info btn-block">回复</button>
				<p class="quxiao">取消回复</p>
			</form>
		</div>
	</div>		
</main>


<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$('.comment').on('click',function(){
		$('#recom').show();
	});
	$('.quxiao').on('click',function(){
		$('#recom').hide();
	});

	$('#mess').on('click',function(){
		// $data=$('form').serialize();
		console.log('aaa');
		return false;
		let name=$.trim($('#name').val());
		let email=$.trim($('#email').val());
		let messgae=$.trim($('#content').val());
		$.ajax({
			url:'add',
			method:'POST',
			data:['name':name,'email':email,'messgae':messgae]
		})
		.done(function(meg){
			console.log('成功'+msg);
		})
		.fail(function(meg){
			console.log('失败'+msg);
		});
		return false;
	});
</script>

</body>
</html>