{include file="index/header" title="留言" cssName="message"/}
<main class="container">
	<div class="me">
		<div class="myself">
			<strong>自我介绍</strong>
			<p>
				博主一枚大三程序媛。自我评价就是爱好很广(旅游,烹饪,历史...),性格很好(乐观,负责,大度...),对程序媛这个职业很喜欢。能灯红酒绿通宵狂嗨，也能安静闲适书店整天。
			 </p>
		</div>
		<div class="connect">
			<strong>联系方式</strong>
			<br><img src="\blog\public\static\images\email.png"/>:<a href="">qqqian0819@gmail.com</a>		
			<br><img src="\blog\public\static\images\weibo.png"/>:<a href="https://github.com/qqqian0819">一枚奋斗的girl</a>	
			<br><img src="\blog\public\static\images\github.png"/>:
				<a href="https://github.com/qqqian0819">qqqian0819</a> 
			<br><img src="\blog\public\static\images\qq.png"/>:<a href="">245013296</a><p/>
		</div>

	</div>
	<div class="main">
		{include file="index/messlayout" listName="留言列表"/}
	</div>
</main>


{include file="index/footer"}
<script src="{$Think.config.web_root}js/message.js"></script>

</body>
</html>