<!-- 评论留言样式 -->
<form>
	<div class="form-group">
		<label for="name">称呼(必填)：</label>
		<input type="text" placeholder="请输入用户名" id="name" name="name" class="form-control"/>
	</div>
	<div class="form-group">
		<label for="email">邮箱(不会被公开)：</label>
		<input type="email" placeholder="如果不介意留下您的联系方式吧" id="email" name="email" class="form-control"/>
	</div>
	<div>
		<label for="message">内容(必填)：</label>
		<textarea name="message" id="message" class="form-control" rows="5" placeholder="输入你相对我说的话吧"></textarea>
	</div>
	<br>
	<button id="mess" class="btn btn-outline-info btn-block" >留言</button>
	
</form>
<hr>
<h3>[listName](<span style="color:#f00">{:count($list)}</span>)</h3>
<div class="list">
{volist name="list" id="vo"}	
	{$vo.border}
	<div style="background:{$vo.bg};margin-left:{$vo.lefts}em">
		<strong>{$vo.name??'匿名'}</strong>
		<p class="time">{$vo['addtime']|date="Y-m-d H:i:s",###}</p>
		<div class="text">
			{$vo.message}
		</div>
		<p class="comment">回复</p>
		<form name="form{$vo.id}">
			<input type="hidden" value="{$vo.id}" />
		</form>
	</div>
{/volist}
</div>